<li>
    {{#if devoured}}
	{{burger_name}}

	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">
		EAT UP!
	</button>
    {{else}}
    {{burger_name}}
    {{/if}}
</li>